
.navbar-brand > img {
    margin-left: 1em;
    margin-right: 1em;
    height: 2em;
    white-space: pre;
}

.navbar-brand > small {
    margin-left: 1em;
}

nav.navbar {
    margin: 0;
    background-color: whitesmoke !important;
}


@media all and (max-width: 768px) {
    .navbar-brand > small {
        display: none;
    }
    .navbar-brand > span {
        display: none;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

textarea:focus, select, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
    border-color: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.btn, input[type="radio"] {
    border-color: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

div.login-form {
    float: none;
    margin: 0 auto;
    width: 50%;
    margin-top: 25vh
}

.alert {
    margin-top: 1em;
}

table.homeTable {
    width: 100%;
    border-collapse: collapse;
}

tr.homeTableRow {
    height: 3em;
    padding-left: 1em;
}

tr.homeTableRow > td {
    padding-left: 1em;
}

tr.homeTableRow:nth-child(2n-1){
    background-color: #ddd;
}

.admin {
    color: rgb(148, 34, 34) !important;
}

/*Override some DataTables default styling*/
.report-table {
    width: 100% !important;
}

table.report-table > tbody > tr.even{
    background-color: rgb(235, 235, 235);
}

table.report-table > tbody > tr:not([role="row"]){
    background-color: rgb(235, 235, 235);
}

td.details-control {
    width:3em;
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}