include mixins/navbar.pug

html
	head
		block vars
		title #{title}

		// General metadata
		meta(name='description', content='A​ ​Web​ ​Based​ ​Student​ ​Oriented​ ​Class/Study​ ​Group​ ​Networking​ ​Tool')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

		// Favicon and files generated at https://realfavicongenerator.net
		link(rel='apple-touch-icon', sizes='76x76', href='/assets/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/assets/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/assets/favicon-16x16.png')
		link(rel='manifest', href='/assets/site.webmanifest')
		link(rel='mask-icon', href='/assets/safari-pinned-tab.svg', color='#ff0000')
		link(rel='shortcut icon', href='/assets/favicon.ico')
		meta(name='msapplication-TileColor', content='#da532c')
		meta(name='msapplication-config', content='/assets/browserconfig.xml')
		meta(name='theme-color', content='#ffffff')


		// Bootstrap CSS
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/datatables.net-bs/css/dataTables.bootstrap.min.css')

		link(rel='stylesheet', href='/style.css')


	body
		+navbar(user, teamName)
		block content
		script(src="/jquery/dist/jquery.min.js")
		script(src="/bootstrap/dist/js/bootstrap.min.js")
		script(src="/jquery-validation/dist/jquery.validate.min.js")
		script(src="/datatables.net/js/jquery.dataTables.min.js")
		script(src="/datatables.net-bs/js/dataTables.bootstrap.min.js")
		script(src="/main.js")
		block scripts