extends boilerplate.pug

block vars
	- var title = "Scouting Login"

block content
	div.container
		div.page-header
			h1 Log in to your account
		div.col-md-offset-5.col-md-3.login-form
			if errorMessages && errorMessages.login && (errorMessages.login != "")
				div.alert.alert-danger
					strong= (errorMessages && errorMessages.login ? errorMessages.login : "")
			form(method="post")
				div.form-group
					label(for="usernameInput") Username
					input.form-control#usernameInput(name="username", type="text", placeholder="Enter Username")
				div.form-group
					label(for="passwordInput") Password
					input.form-control#passwordInput(name="password", type="password", placeholder="Enter Password")
				button.btn.btn-primary.submit(type="submit") Login
				br
				br
				a(href="/register") Don't have an account? Register.