extends boilerplate.pug
include mixins/formInputs.pug

block vars
	- var title = "Match Scouting Report"

block content
	div.container
		h1.page-header Match Scouting Report
		if success
			div.alert.alert-success#successAlert Report successfully submited
		if errorMessages && errorMessages.database && (errorMessages.database != "")
				div.alert.alert-danger
					strong= (errorMessages && errorMessages.database ? errorMessages.database : "")
		form.form-validate(method="post")
			h3 Match Information
			br
			+dropDownInput("Team", "team", errorMessages, teams, {required: true})
			+simpleInput("Tournament", "tournament", errorMessages, {readonly: true, value: tournament})
			+simpleInput("Match Number", "matchNumber", errorMessages, {type: "number", required: true})
			hr
			h3 Autonomous
			br
			+yesNoInput("Crossed Line", "crossedLineInAutonomous", errorMessages)
			+simpleInput("Cubes Delivered to Switch", "cubesDeliveredToSwitchInAutonomous", errorMessages, {type: "number", postfix: "Cubes"})
			+simpleInput("Cubes Delivered to Scale", "cubesDeliveredToScaleInAutonomous", errorMessages, {type: "number", postfix: "Cubes"})
			hr
			+textAreaInput("Autonomous Comments", "autonomousComments", errorMessages)
			hr
			h3 Teleop
			br
			
			+simpleInput("Cubes Delivered to Switch", "cubesDeliveredToSwitchInTeleop", errorMessages, {type: "number", postfix: "Cubes"})
			+simpleInput("Cubes Delivered to Scale", "cubesDeliveredToScaleInTeleop", errorMessages, {type: "number", postfix: "Cubes"})
			+simpleInput("Cubes Delivered to Exchange", "cubesDeliveredToExchangeInTeleop", errorMessages, {type: "number", postfix: "Cubes"})

			+starInput("Switch Reliability", "switchReliabilityInTeleop", errorMessages)
			+starInput("Scale Reliability", "scaleReliabilityInTeleop", errorMessages)
			+starInput("Exchange Reliability", "exchangeReliabilityInTeleop", errorMessages)
			+starInput("Intake Reliability", "intakeReliabilityInTeleop", errorMessages)

			+simpleInput("Climb Time", "climbTimeInTeleop", errorMessages, {type: "number", postfix: "seconds"})

			+starInput("Defence Rating", "defenceRatingInTeleop", errorMessages)
			+starInput("Driving Rating", "drivingRatingInTeleop", errorMessages)
			+starInput("Evasion Rating", "evasionRatingInTeleop", errorMessages)
			+starInput("Speed Rating", "speedRatingInTeleop", errorMessages)

			h4 End Game
			br
			+dropDownInput("Endgame", "endgame", errorMessages, ["Unknown", "None", "Used Ramp", "Deployed Ramp", "Climbed Rung"])
			+yesNoInput("Did Robot Die", didRobotDie, errorMessages)

			+textAreaInput("Teleop Comments", "teleopComments", errorMessages)

			br
			button.btn.btn-primary.submit(type="submit") Submit
			