extends boilerplate.pug

include mixins/formInputs.pug

block vars
	- var title = "Messages"

mixin messageLevelSelect()
	div.form-group
		label(for="messageLevelInput") Message Level
		select.form-control#messageLevelInput(name="level")
			option.text-info(value="info") Info
			option.text-warning(value="warning") Warning
			option.text-danger(value="danger") Danger

mixin message(m)
	div(class=("alert alert-" + m.level))
		p
			b= "Message from " + m.sender + (m.sentByAdministrator ? " (Administrator)": "") + " sent to " + m.recipient + " @ " + new Date(m.sentAt).toLocaleString() + ":"
		if m.sentByAdministrator
			p !{m.message}
		else
			p=m.message

block content
	div.container
		h1.page-header Messages
		h3 Need help? Message the administrators.
		form.form-validate(method="post")
			+textAreaInput("", "message", errorMessages, {required: true})
			+messageLevelSelect()
			input(name="recipient", hidden, value="Administrators")
			button.btn.btn-primary.submit(type="submit") Message Administrators

		if user.role == "administrator"
			br
			h3.text-danger.page-header Send System-Wide Message
			form.form-validate(method="post")
				+textAreaInput("", "message", errorMessages, {required: true})
				+messageLevelSelect()
				input(name="recipient", hidden, value="All")

				button.btn.btn-danger.submit(type="submit") Message All Users


			h3.text-danger.page-header Send Message to Specific User
			form.form-validate(method="post")
				+textAreaInput("", "message", errorMessages, {required: true})
				+messageLevelSelect()
				+dropDownInput("Recipient", "recipient", errorMessages, users, {required: true})

				button.btn.btn-danger.submit(type="submit") Message User

			br
			h3.text-danger.page-header Administrator Messages
			if administratorMessages.length < 1
				p
					i There are no administrator messages.
			each message in administratorMessages
				+message(message)


		br
		h3.page-header Your Messages
		if messages.length < 1
			p
				i You have no messages.
		each message in messages
			+message(message)