extends boilerplate.pug
include mixins/navbar.pug
include mixins/formInputs.pug

block vars
	- var title = "Pit Scouting Report"

block content
	div.container
		h1.page-header Pit Scouting Report
		if success
			div.alert.alert-success#successAlert Report successfully submited
		if errorMessages && errorMessages.database && (errorMessages.database != "")
				div.alert.alert-danger
					strong= (errorMessages && errorMessages.database ? errorMessages.database : "")
		form.form-validate(method="post")
			h3 Team Information
			br
			+dropDownInput("Team", "team", errorMessages, teams, {required: true})
			+simpleInput("Tournament", "tournament", errorMessages, {readonly: true, value: tournament})
			hr
			h3 Basic Robot Information
			br
			+simpleInput("Robot Speed", "robotSpeed", errorMessages, {postfix: "ft/s", type:"number"})
			+yesNoInput("Transmission", "transmission")
			+dropDownInput("Drive Train", "driveTrain", errorMessages, ["Unknown", "4 Wheel Tank", "6 Wheel Tank", "West Coast", "6 Wheel with 2 Omnis", "Swerve", "Mecanum", "Swervcanum", "Levitates", "Other"])
			+simpleInput("Custom Drive Train", "customDriveTrain", errorMessages)
			hr
			h3 Game Elements
			br
			+yesNoInput("Can Use Scale at Top", "canUseScaleAtTop", errorMessages)
			+yesNoInput("Can Use Scale at Mid", "canUseScaleAtMid", errorMessages)
			+yesNoInput("Can Use Scale at Bottom", "canUseScaleAtBottom", errorMessages)
			+yesNoInput("Can Use Switch", "canUseSwitch", errorMessages)
			+yesNoInput("Can Use Exchange", "canUseExchange", errorMessages)
			+yesNoInput("Can Pick Off Ground", "canPickOffGround", errorMessages)
			hr
			h3 Autonomous
			br
			+yesNoInput("Capable of Autonomous", "canAutonomous", errorMessages)
			+simpleInput("Theoretical Max Cubes in Switch", "theoreticalMaxCubesInSwitchInAutonomous", errorMessages, {type: "number", postfix: "Cubes"})
			+simpleInput("Theoretical Max Cubes in Scale", "theoreticalMaxCubesInScaleInAutonomous", errorMessages, {type: "number", postfix: "Cubes"})
			+textAreaInput("Comments on Autonomous", "autonomousComments", errorMessages)
			hr
			h3 Defence
			br
			+dropDownInput("Will Play Defence", "willPlayDefence", errorMessages, ["Unknown", "Yes", "No", "Other"], settings)
			+simpleInput("Description of Defence", "defenceDescription", errorMessages)
			hr
			h3 Climbing
			br
			+dropDownInput("Climber Type", "climberType", errorMessages, ["Unknown", "None", "Parks on Platform", "Deploys Ramp", "Climbs Bar", "Other"])
			+simpleInput("Custom Climber Type", "customClimberType", errorMessages)
			+simpleInput("Climb Time", "climbTime", errorMessages, {postfix: "seconds", type:"number"})
			hr
			h3 Misc.
			br
			+simpleInput("Main Strengths", "mainStrengths", errorMessages, {note: "Ask the team this!"})
			+starInput("Quality of Pit", "qualityOfPit", errorMessages)
			hr
			+textAreaInput("General Comments", "generalComments", errorMessages)

			br
			button.btn.btn-primary.submit(type="submit") Submit

block scripts
	script(src="/form.js")