extends boilerplate.pug

block vars
	- var title = "Scouting Registration"

block content
	div.container
		div.page-header
			h1 Register New Account
		div.col-md-offset-5.col-md-3.login-form
			form.form-validate(method="post")
				div.form-group(class=(errorMessages && errorMessages.username) ? "has-error" : "")
					label(for="usernameInput") Username
					input.form-control#usernameInput(minlength="5", required, name="username", type="text", placeholder="Enter Username")
					div.help-block= errorMessages && errorMessages.username ? errorMessages.username : ""
				div.form-group(class=(errorMessages && errorMessages.password) ? "has-error" : "")
					label(for="passwordInput") Password
					input.form-control#passwordInput(minlength="6", required, name="password", type="password", placeholder="Enter Password")
					div.help-block= errorMessages && errorMessages.password ? errorMessages.password : ""
				div.form-group(class=(errorMessages && errorMessages.accountType) ? "has-error" : "")
					label(for="accountType") Account Type
					select.form-control#accountTypeInput(name="accountType")
						option User
						option Administrator
					div.help-block= errorMessages && errorMessages.accountType ? errorMessages.accountType : ""
				button.btn.btn-primary.submit(type="submit") Register
				br
				br
				a(href="/login") Already have an account? Login.