extends boilerplate.pug
include mixins/navbar.pug

block vars
	- var title = "User Administration"

block content
	+navbar(user)
	div.container
		h1.page-header User Administration
		if (deletedUser)
			h1 ljdlfkjlsdkjflkdsjflksdjflksjdf
			
		table.table
			thead
				th(scope="col") Username
				th(scope="col") Role
				th(scope="col") ID
				th(scope="col") Change Password
				th(scope="col") Delete User
			tbody
				each u in users
					tr
						th(scope="row")= u.username
						td= u.role
						td
							i
								p=u.id
						td
							div.input-group
								input.form-control(type="password", id=u.id)
								span.input-group-btn
									button.btn.btn-default(type="button", onclick=("changePassword('" + u.id + "')")) Change
						td
							button.btn.btn-default(onclick=("deleteUser('" + u.id + "')")) Delete

block scripts
	script(src="/userAdministration.js")