mixin navbar(user, teamName)
	nav.navbar.navbar-default
		div.container-fluid
			div.navbar-header
				a.navbar-brand(href="/home")= teamName + " Scouting"
			if user
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown", role="button") Submit Report
						ul.dropdown-menu
							li
								a(href="/pit-scouting-report") Pit Scouting Report
								a(href="/match-scouting-report") Match Scouting Report
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown", role="button")
							span Reports
						ul.dropdown-menu
							li
								a(href="/pit-scouting-reports") Pit Scouting Reports
								a(href="/match-scouting-reports") Match Scouting Reports
				ul.nav.navbar-nav.navbar-right
					if user.role=="administrator"
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown") Register User
							ul.dropdown-menu
								li
									a(href="/register") Register User
									a(href="/register?canChooseRole=true") Register User (Allow role selection)
						li
							a(href="/users")
								span.text-danger Users Administration
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown")
							i=user.username
							span.glyphicon.glyphicon-user(style="margin-left: .5em")
						ul.dropdown-menu
							li
								a(href="/logout") Logout