extends base.pug

block head
	title Register

block main
	h1.font-weight-light Register New Account
	hr
	p All accounts are created as standard users by default. Upgrading accounts must be done manually through the database.