extends base.pug

block head
	title Register

block main
	h1.font-weight-light Register New Account
	hr
	p All accounts are created as standard users by default. Upgrading accounts must be done manually through the database.

	form(method="post")
				.form-group
					input.form-control(name="name", type="text", placeholder="Full Name")
				.form-group
					input.form-control(name="email", type="email", placeholder="Email")
				.form-group
					input.form-control(name="password", type="password", placeholder="Password")
				.form-group
					input.form-control(type="password", placeholder="Confirm Password")
				button.btn.btn-danger.submit(type="submit", style="width:100%") Register